
<div id="container" style="height: 500px; min-width: 500px"></div>​

<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Effort',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: your-ACTIVE data',
                x: -20
            },
            xAxis: {
                categories: [<%= @dates.html_safe %>]
            },
            yAxis: {
                title: {
                    text: 'Calories'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },

            series: [{
                name: 'Rocky Balboa',
                data: [<%= @rocky_data.html_safe %>]
            }
            ,{
                name: 'Apollo Creed',
                data: [<%= @apollo_data.html_safe %>]
            }]
        });
    });
    
});
</script>
